<li class="list-group-item"> 
		{{name}}
	<button class="change-devoured btn btn-primary" data-id="{{id}}" data-devoured="{{devoured}}">
		 {{#if devoured}}Devour It!{{else}}Add to Menu!{{/if}}
	</button>
</li>